.logo {
  height: 100px;
}

.logo-container {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}
